<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
  </configSections>
  <connectionStrings>
    <add name="ATSDBSTRING" connectionString="Data Source=103.73.221.75;Initial Catalog=EMONK AP;User ID=sa;Password=snpl123@;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>
  <!--<add name="ATSDBSTRING" connectionString="Data Source=techb.database.windows.net;Initial Catalog=EMONK_AP;Persist Security Info=True;User ID=techbytes;Password=techbyte09$" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <dataConfiguration defaultDatabase="ATSDBSTRING"/>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="electionMonk@gmail.com">
        <network defaultCredentials="false" host="smtp.gmail.com" port="587" userName="electionMonk@gmail.com" password="techbytes09$" enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    
  <rewrite>
      <rules>
        <rule name="Hide .aspx ext">
          <match url="^(.*)$" ignoreCase="true" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}.aspx" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="{R:0}.aspx" />
        </rule>
        <rule name="Redirecting .aspx ext" stopProcessing="true">
          <match url="^(.*).aspx$" />
          <conditions logicalGrouping="MatchAny">
            <add input="{URL}" pattern="(.*).aspx$" />
          </conditions>
          <action type="Redirect" url="{R:1}" />
        </rule>
      </rules>
    </rewrite>
    
    <directoryBrowse enabled="true"/>
    <defaultDocument>
      <files>
        <remove value="default.aspx"/>
        <remove value="index.html"/>
        <remove value="index.htm"/>
        <add value="home.html"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>